*~
*.swo
*.swp
.DS_Store
/app/config/parameters.yml
/bin/*
!bin/app
/composer.lock
/composer.phar
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache/*
!var/cache/.htaccess
/var/logs/*
!var/logs/.htaccess
/vendor
/web/_assets
/web/bundles
