{% extends 'TJMBaseBundle:base:skeletons/full.html.twig' %}
{% block pageStyles %}
{%	stylesheets '@TJMSiteBundle/Resources/public/presentation/*.css' %}
<link href="{{ asset_url }}" rel="stylesheet" />
{%	endstylesheets %}
{% endblock %}
{% block pageScriptsPostLoad %}
{%	javascripts '@TJMSiteBundle/Resources/public/behavior/*.js' %}
<script src="{{ asset_url }}"></script>
{%	endjavascripts %}
{% endblock %}
{% block pageNavigationContent %}
{{ parent() }}
<ul class="listNavigation listPageNavigation">
	<li class="itemPageNavigation itemNavigation"><a href="{{ path('tjmSiteHome') }}">Home</a></li>
</ul>
{% endblock %}
