{% extends 'TJMBaseBundle:base:skeletons/full.html.twig' %}
{% block pageStyles %}
{%	stylesheets filter='stylus,?yui_css' '@TJMSiteBundle/Resources/public/presentation/base.styl' %}
<link href="{{ asset_url }}" rel="stylesheet" />
{%	endstylesheets %}
{% endblock %}
{% block pageNavigationContent %}
{{ parent() }}
<ul class="listitemnavigation listpageitemnavigation">
	<li class="pageitemnavigation itemnavigation"><a href="{{ path('tjmSiteHome') }}">Home</a></li>
</ul>
{% endblock %}
